$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$grey: #F8FAF9;
$white: #fff;

@import 'media.scss';

//z-indexes
$z-fixed-menu: 100;

//normalize
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');
@import "layout";

//components
@import 'components/hero.scss';
@import 'components/header.scss';
@import 'components/features.scss';
@import 'components/feature.scss';
@import 'components/btn.scss';
@import 'components/section.scss';
@import 'components/headline.scss';
@import 'components/benefits.scss';
@import 'components/benefit.scss';
@import 'components/benefits-section.scss';
@import 'components/reviews.scss';
@import 'components/interactive-avatar.scss';
@import 'components/reviews-section.scss';
@import 'components/form.scss';
@import 'components/order-section.scss';
@import 'components/radio.scss';
@import 'components/fixed-menu.scss';
@import 'components/menu.scss';
@import 'components/phone-number.scss';
@import 'components/hamburger.scss';
@import 'components/map.scss';
@import 'components/footer.scss';
@import 'components/contacts.scss';
@import 'components/map-section.scss';
@import 'components/logo.scss';
@import 'components/socials.scss';
@import 'components/fullscreen-menu.scss';
@import 'components/slider.scss';
@import 'components/option.scss';
@import 'components/team.scss';
@import 'components/modal.scss'; 
