.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image {
    margin-bottom: rem(24px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(20px);
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    color: black;
    margin-bottom: rem(7px);
    font-size: rem(27px);
    font-weight: bold;
}

.benefit__desc p {
    font-size: rem(18px);
}


