.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(18px);

    @include phones {
        font-size: 2rem;
    }
}

.headline__subtitle {
    padding: 0 22%;
    margin-bottom: rem(62px);

    @include phones {
        padding: 0 2%;
    }
}