
 .socials {
    display: flex;
 }
 
 .socials__item {
    width: 30px;
    height: 30px;
    margin-right: 10px;
 }

 .socials__icon {
    fill: #B3B3B3;
    transition: .4s;
 }

 .socials__link:hover .socials__icon {
    fill: black;
 }

 .socials__icon {
    width: 30px; 
    height: 30px;
 }